/* Style sheet for Portfolio App */
@charset "ISO-8859-1";
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap"); /*Import Lato font from Google Fonts */

:root{
    --primaryColor: #54c687;
}

/* Reset and Common Styles */
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

html {
    font-size: .625vw;
    scroll-behavior: smooth;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section 1 */
.section1 {
    width: 100%;
    height: 100vh;
    background: url(/images/mountains.jpg) repeat-x;
    background-size: cover;
    overflow: hidden;
    animation: movingBackground 300s linear infinite;
    flex-direction: column;
}

.section1-heading {
    font-size: 6rem;
    font-weight: 700;
    width: 90vw;
    color: #fff;
    background-color: var(--primaryColor);
    padding: 2rem;
    margin-bottom: 5rem;
    letter-spacing: 1rem;
    border-bottom: .3rem solid #fff;
    text-shadow: .2rem .2rem 0.5rem #555;
    transform: skew(-10deg);
}

.img {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 50%;
    border: 0.7rem dotted var(--primaryColor);
    background-color: rgba(255, 255, 255, .7);
    padding: 0.5rem;
    opacity: 0.9;
}

.avatar {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 50%;
    border: 0.7rem dotted var(--primaryColor);
    background-color: rgba(255, 255, 255, .7);
    padding: 0.5rem;
}

.person-name {
    font-size: 2rem;
    color: #fff;
    background-color: var(--primaryColor);
    margin: 5rem 0;
    padding: 0.5rem 3rem;
    letter-spacing: 0.3rem;
    transform: skew(-10deg);
}

.section1-btn {
    font-size: 1.7rem;
    font-weight: 700;
    color: #333;
    background-color: #fff;
    border: 0.3rem solid #333;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.section1-btn:hover {
    font-weight: bold;
    color: #fff;
    background-color: var(--primaryColor);
    scale: 120%;
    transition: all 0.3s ease;
}

/* Nav Bar */
.navbar {
    width: 100%;
    height: 4rem;
    background-color: var(--primaryColor);
    box-shadow: 0.2rem 0.2 rem 0.5rem #555;
    position: absolute;
    z-index: 300;
}

.sticky {
    position: fixed;
    top: 0;
}

.navbar-link {
    font-size: 1.7rem;
    font-weight: 600;
    color: #333;
    margin: 0 3rem;
    letter-spacing: 0.3rem;
}

.change.navbar-link {
    color: #fff;
}

.navbar-link:hover {
    content: "";
    scale: 120%;
    color: #fff;
    font-weight: bold;
    transition: scale 0.3s ease;
}

.change.navbar-link::before {
    color: #fff;
    scale: 120%;
    font-weight: bold;
    transition: scale 0.3s 0.3s ease;
}

/* Section 2 */
.section2 {
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2-heading {
    margin-top: 10vh;
    font-size: 5rem;
    color: #333;
    letter-spacing: 0.5rem;
    border-bottom: 0.3rem solid #333;
    text-shadow: 0.2rem 0.2rem 0.3rem #555;
}

.section2-body {
    margin: 3vh 5vw 0 5vw;
    font-size: 2.5rem;
    color: #333;
}

.section2-body-intro {
    margin-bottom: 2vh;
}

/*Course list*/
.course-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /*Horizontal alignment. */
    align-items: center; /*Vertical alignment. */
    margin: 5vh 0; /*vW is viewport width. vH is viewport height. */
    padding: 0;
}

.course-items-container {
    margin: 0 5vw;
}

.course-items {
    margin: 2vh 0;
    font-size: 2.25rem;
}

.course-items a {
    color: rgb(0, 0, 0);
    font-family: "Lato", sans-serif;
    letter-spacing: 0.1rem;
}

.course-items a:hover { /*Changes behavior of a link when user hovers over it*/
    color: var(--primaryColor);
    font-weight: bold;
    transition: color .3s ease;
}

.course-overview {
    width: 90vw;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 1vh 0;
    justify-content: center; /*Horizontal alignment. */
    align-items: center; /*Vertical alignment. */
    text-align: center;
    color: #fff;
    background-color: var(--primaryColor);
    padding: 0.5rem 3rem;
    letter-spacing: 0.3rem;
    transform: skew(-10deg);
}

.course-description {
    font-size: 2rem;
    margin: 1vh 1vw 0 1vw;
    justify-content: left; /*Horizontal alignment. */
    align-items: left; /*Vertical alignment. */
}

/* Section 3 */
.section3 {
    width: 100%;
    height: auto;
    padding: 10rem 0;
    background-color: #EDF5E1;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.section3-heading {
    font-size: 5rem;
    color: #333;
    letter-spacing: 0.5rem;
    margin-bottom: 3rem;
    border-bottom: 0.3rem solid #333;
    text-shadow: 0.2rem 0.2rem 0.5rem #555;
}

.projects-wrapper {
    width: 90%;
    flex-wrap: wrap;
}
  
.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: #fff;
    box-shadow: 0.3rem 0.3rem 0.5rem #777;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.5s;
}
  
.project:hover {
    box-shadow: 1rem 1rem 1rem #777;
}
  
.project-text {
    text-align: center;
    letter-spacing: 0.1rem;
    position: absolute;
    top: -10rem;
    z-index: 10;
    transition: top 0.3s;
}
  
.project:hover .project-text {
    top: 5rem;
    transition: top 0.3s 0.3s;
}
  
.project-name {
    font-size: 3rem;
    font-weight: 700;
    color: #333;
    text-transform: capitalize;
}
  
.project-technologies {
    font-size: 2rem;
    color: var(--primaryColor);
}
  
.project-img {
    width: 40rem;
    transition: opacity 0.3s;
}
  
.project:hover .project-img {
    opacity: 0.15;
}
  
.project-link {
    font-size: 2rem;
    font-weight: 500;
    color: #333;
    letter-spacing: 0.1rem;
    border: 0.3rem solid var(--primaryColor);
    padding: 0 1rem;
    background-color: #fff;
    position: absolute;
    bottom: -5rem;
    transition: bottom 0.3s;
}
  
.project:hover .project-link {
    bottom: 5rem;
    transition: bottom 0.3s 0.3s;
}

/* Section 4 - Footer */
.section4 {
    width: 100%;
    height: 25vh;
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-media {
    margin: 3rem;
}

.social-media-link {
    padding: 0.7rem;
    background-color: var(--primaryColor);
    border-radius: 1rem;
    display: inline-block;
}

.social-media-link:hover {
    margin: 0 2rem;
    padding: 0.7rem;
    background-color: var(--primaryColor);
    border-radius: 1rem;
    display: inline-block;
    scale: 120%;
    transition: scale 0.3s ease;
}

.social-media-link i {
    font-size: 3rem;
    color: #fff;
}

.release-date {
    color: #aaa;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-weight: 300;
    text-align: center;
    margin: 2rem;
}

/* Animations */
@keyframes movingBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -500vw 0; /* -500vw is -5 * current vw (100% of current screen width). Repeats background image 5 times. "-" to move screen from right to left. */
    }
}

/* Responsive Window Sizing using @media(max-width: ) */

@media(max-width: 1280px){
    html {
        font-size: 12px;
    }

    .section1-heading {
        width: 90vw;
        text-shadow: .2rem .2rem 0.4rem #555;
    }

    .navbar-link {
        margin: 0 1.5rem;
    }

    .section2-heading {
        margin: 7.5rem 1.5rem 1.5rem 1.5rem;
        text-align: center;
    }

    .section2-body {
        margin: 1.5rem;
        width: 90vw;
        font-size: 2.5rem;
        color: #333;
    }
}

@media(max-width: 1024px){ /* iPad Pro Width */
    html {
        font-size: 12px;
    }

    .section1-heading {
        width: 90vw;
        text-shadow: .2rem .2rem 0.4rem #555;
    }

    .navbar-link {
        margin: 0 1.5rem;
    }

    .section2-heading {
        margin: 7.5rem 1.5rem 1.5rem 1.5rem;
        text-align: center;
    }

    .section2-body {
        margin: 1.5rem;
        width: 90vw;
        font-size: 2.5rem;
        color: #333;
    }
}


@media(max-width: 820px){ /* iPad Air Width */
    html {
        font-size: 10px;
    }

    .section1-heading {
        width: 90vw;
        text-shadow: .2rem .2rem 0.4rem #555;
    }

    .navbar-link {
        margin: 0 1.5rem;
    }

    .section2-heading {
        margin: 7.5rem 1.5rem 1.5rem 1.5rem;
        text-align: center;
    }

    .section2-body {
        margin: 1.5rem;
        width: 90vw;
        font-size: 2.5rem;
        color: #333;
    }
}

@media(max-width: 700px){
    html {
        font-size: 10px;
    }

    .section1-heading {
        width: 90vw;
        text-shadow: .2rem .2rem 0.4rem #555;
    }

    .navbar-link {
        margin: 0 1.5rem;
    }

    .section2-heading {
        margin: 10rem 1.5rem 1.5rem 1.5rem;
        text-align: center;
    }

    .section2-body {
        margin: 1.5rem;
        width: 90vw;
        font-size: 2.5rem;
        color: #333;
    }
}

@media(max-width: 500px){
    html {
        font-size: 9px;
    }

    .section1-heading {
        width: 85vw;
        text-shadow: .2rem .2rem 0.4rem #555;
    }

    .navbar-link {
        margin: 0 1.5rem;
    }

    .section2-heading {
        margin: 10rem 1rem 1rem 1rem;
        text-align: center;
    }

    .section2-body {
        margin: 1.5rem;
        width: 90vw;
        font-size: 2.5rem;
        color: #333;
    }
}

@media(max-width: 450px){
    html {
        font-size: 8px;
    }

    .section1-heading {
        width: 85vw;
        text-shadow: .2rem .2rem 0.4rem #555;
    }

    .navbar-link {
        margin: 0 1.5rem;
    }

    .section2-heading {
        margin: 10rem 1rem 1rem 1rem;
        text-align: center;
    }

    .section2-body {
        margin: 1rem;
        width: 90vw;
        font-size: 2.5rem;
        color: #333;
    }
}

@media(max-width: 414px){ /* iPhone XR Width */
    html {
        font-size: 8px;
    }

    .section1-heading {
        width: 85vw;
        text-shadow: .2rem .2rem 0.4rem #555;
    }

    .navbar-link {
        margin: 0 1.5rem;
    }

    .section2-heading {
        margin: 10rem 1rem 1rem 1rem;
        text-align: center;
    }

    .section2-body {
        margin: 1rem;
        width: 90vw;
        font-size: 2.5rem;
        color: #333;
    }
}

@media(max-width: 390px){ /* iPhone 12 Pro Width */
    html {
        font-size: 8px;
    }

    .section1-heading {
        width: 85vw;
        text-shadow: .2rem .2rem 0.4rem #555;
    }

    .navbar-link {
        margin: 0 1.5rem;
    }

    .section2-heading {
        margin: 10rem 1rem 1rem 1rem;
        text-align: center;
    }

    .section2-body {
        margin: 1rem;
        width: 90vw;
        font-size: 2.5rem;
        color: #333;
    }
}

@media(max-width: 375px){ /* iPhone SE Width */
    html {
        font-size: 8px;
    }

    .section1-heading {
        margin: 5rem 0;
        width: 85vw;
        text-shadow: .2rem .2rem 0.4rem #555;
    }

    .navbar-link {
        margin: 0 1.5rem;
    }

    .section2-heading {
        margin: 7.5rem 1rem 1rem 1rem;
        text-align: center;
    }

    .section2-body {
        margin: 1rem;
        width: 90vw;
        font-size: 2.5rem;
        color: #333;
    }

    .section4 {
        height: auto;
    }
}
