/* Style sheet for Portfolio */
@charset "ISO-8859-1";
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
    box-sizing: border-box;
}

/*Navigation bar*/
.nav-bar {
    list-style-type: none;
    display: flex;
    margin: 1vw; /*vW is viewport width. */
}

.nav-bar-items {
    float: left;
    margin: 0 1vw 0 1vw;
    font-size: medium;
}

.nav-bar-items a {
    color: #fff;
    font-family: "Lato", sans-serif;
}

.nav-bar-items a:hover { /*Changes behavior of a link when user hovers over it*/
    color: #6feaf6;
    font-weight: bold;
    transition: color .3s ease;
}

/*Body*/
body {
    font-family: "Lato", sans-serif;
    background-color: #242333;
    color: #fff;
    margin: 0;
    padding: 0;
}

/*Project ul list*/
.project-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: left; /*Horizontal alignment. */
    align-items: left; /*Vertical alignment. */
    margin: 1vw; /*vW is viewport width. */
    margin: 3vh; /*vH is viewport height. */
    padding: 0;
}

.project-items {
    margin: 2vh 1vw 2vh 1vw;
    font-size: large;
}

.project-items a {
    color: #fff;
    font-family: "Lato", sans-serif;
}

.project-items a:hover { /*Changes behavior of a link when user hovers over it*/
    color: #6feaf6;
    font-weight: bold;
    transition: color .3s ease;
}

.project-description {
    font-size: medium;
    margin: 1vh 1vw 0 1vw;
    justify-content: left; /*Horizontal alignment. */
    align-items: left; /*Vertical alignment. */
}

/*Course list*/
.course-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: left; /*Horizontal alignment. */
    align-items: left; /*Vertical alignment. */
    margin: 1vw; /*vW is viewport width. */
    margin: 3vh; /*vH is viewport height. */
    padding: 0;
}

.course-items {
    margin: 2vh 2vw 2vh 2vw;
    font-size: large;
}

.course-items a {
    color: #fff;
    font-family: "Lato", sans-serif;
}

.course-items a:hover { /*Changes behavior of a link when user hovers over it*/
    color: #6feaf6;
    font-weight: bold;
    transition: color .3s ease;
}

.course-overview {
    font-size: larger;
    font-weight: bold;
    margin: 1vh 1vw 1vh 1vw;
    justify-content: left; /*Horizontal alignment. */
    align-items: left; /*Vertical alignment. */
}

.course-description {
    font-size: medium;
    margin: 1vh 1vw 0 1vw;
    justify-content: left; /*Horizontal alignment. */
    align-items: left; /*Vertical alignment. */
}

/*General HTML Tags*/
h1 {
    display: flex;
    font-size: xx-large;
    justify-content: center;
    margin: 4vh 1vw 0 1vw; /*vW is viewport width. vH is viewport height. */
    color: #6feaf6;
}

p {
    display: flex;
    justify-content: center;
    font-size: larger;
    margin: 2vh 1vw 2vh 1vw; /*vW is viewport width. vH is viewport height. */
}